*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    width: 50%;
    height: auto;
    border:  1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
h1,h2{
    margin-bottom: 10px;
}
.collaj{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
p{
    background-color: rgba(128, 128, 128, 0.885);
}
input{
    width: 10%;
    height: 50px;
    margin-left: 10px;
}
.container{
    text-align: center;
}